.x_painel{
    margin-top: 3%;
    width: 90%; 
	margin-left: 5%;
	background-color: white;
	
}

.esconde{
    display: none;
    color: red;
}

.bot{
    margin-top:25px;
	background-color:#004D80 !important;
	color:white !important;
}

.botr{
    margin-top:25px;
	background-color:red!important;
	color:white !important;
}