
.container{
    display: flex;
    width: 100%;
}


.intcont{
    width: 100px;
    height: 30px; 
    margin-top: 40px;
    text-decoration: none; 
}

.menu-container{
    margin-top: -33px;
    margin-left: 350px;
    
}

.ops{
    color:white; 
    text-decoration: none; 
    font-family: Tahoma, Geneva, sans-serif;

}

.ops a{
    color:white; 
    text-decoration: none; 
    font-family: Tahoma, Geneva, sans-serif;
}



.submenu a:hover{
    display:block;
    color: white;
}

.intcont a:hover, .ops{
    color: white;
    text-decoration: none;
}

 .ops a:hover, .submenu{
    display: block;
    
}

.ops a:hover, .submenu a{
    color: white;
    text-decoration: none;
}

.bem{
    color:white;
}

body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
    background: #000;
    color:white;
}
.sub-menu {
    background: black;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background: black;
    text-decoration: none;
}
.menu li:hover > .sub-menu {
    display: block;
    text-decoration: none;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
}
.sub-menu li:hover {
    background: black;
    text-decoration: none;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}