.botoes{
	display:flex;
	justify-content:between;
	margin-top:20px;
}
.container{
	display:flex;
	justify-content:center;
	width:600px;
	height:500px;
	background-color:white;
	border-radius: 8px;
	
}
form{
	margin-top:20px;
}
.tudo{
	background-color:gray;
	font-family: Tahoma, Geneva, sans-serif;
}

.cont-pai{
	display:flex;
	justify-content:center;
}

.bot{
	margin-top:25px;
	background-color:#004D80 !important;
	color:white !important;
}

.inputs{
	margin-left:135px;
	margin-top:-18px;
}
.textarea{
	vertical-align: top;
	height: 80px;
	width: 305px;
    resize: vertical;
}

.x_painel{
	width: 90%;
	margin-left: 5%;
	background-color: white;
	
}

.color{
	color:red;
}

.esconde{
	display: none;
}
