<!DOCTYPE html>
<html>
	<meta charset="utf-8"/>
<head>
	<link rel="stylesheet" type="text/css" href="Static/CSS/estilo_login.css">
	<link rel="stylesheet" href="Static/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="Static/CSS/estilo_novaViagem.css" type="text/css">
	<title>Login</title>
</head>
	<body class="row" style="background-color: gainsboro;">
		
		<form   style="margin-top: 10%;">
			<div class="x_painel" style="background-color: gainsboro;">
					<div class="logo">
							<div>
								<img src="img/logo2.png" />
							</div>
						</div>
				<div class="row">
					<div class="col-md-5"></div>
					<div class=" col-md-2">
						<div id="msg"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5"></div>
					<div class=" col-md-2">
						<label>Usuário</label><br>
						<input type="text" class="form-control" title="Usuário" id="login" name="login"  class="usuario" />
					</div>
				</div>	
				<div class="row">
					<div class="col-md-5"></div>
					<div class=" col-md-2">
						<label>Senha</label><br>
						<input type="password" class="form-control" title="Senha" id="senha" name="senha" />
					</div>
					<div class=" col-md-1">
						<!-- <input type="checkbox"  value="Lembrar_senha"> Lembrar minhas credenciais<br/><br/> -->
						<!-- fazer cookie para lembrar a senha do usuário em php eu acho -->
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-6"></div>
			<div class="botao">
					<button type="button" class="btn btn-default bot" onclick="loga()">Entrar</button>
			</div>
		</div>
	</body>
</html>
<script src="Static/js/jquery.min.js"></script>
<script>
function loga(){
	$('#msg').html("");
	var login = $('#login').val();
	var senha =$('#senha').val();
	
	$.ajax({
		type:'POST',
		url:'login2.php',
		data:{login:login,senha:senha},
		success:function(html){
			console.log(html.length)
			if(html.length < 50){
				window.location.href = "novaViagem.php";
			}else{
				$('#msg').html(html);
			}
		},error:function(html){
			$('#msg').html("<div class='alert alert-danger'><strong>ERRO!</strong>"+html+"</div>");
		}

	})
}	
</script>