<?php 
   echo '<div style="display: flex;">
            <div style="display: flex; justify-content: space-around;background-color:black; text-align: center;  width: 100%; ">
                <div>
                    <img src="../img/logo2.png" alt="logo_nika"/>
                    <!--<img src="imagem/logo2.png"" alt="logo_nika"/>-->
                </div>
                <div  style=" width: 100px; height: 30px; text-align: center;margin-top: 40px;">
                    <a href="javascript:void(0)" style="color:white; text-decoration: none; font-family: Tahoma, Geneva, sans-serif;">Administração<a>
                    <a>Cadastro</a>
                </div>
                <div style="background-color:black; width: 100px; height: 30px; text-align: center;margin-top: 40px;">
                    <a href="javascript:void(0)"style="color:white; text-decoration: none; font-family: Tahoma, Geneva, sans-serif;">Financeiro<a>
                </div>
                <div style="background-color:black; width: 100px; height: 30px; text-align: center;margin-top: 40px;">
                    <a href="javascript:void(0)"style="color:white; text-decoration: none; font-family: Tahoma, Geneva, sans-serif;">Entregas<a>
                </div>
                <div style="background-color:black; width: 100px; height: 30px; text-align: center;margin-top: 40px;">
                    <a href="javascript:void(0)"style="color:white; text-decoration: none; font-family: Tahoma, Geneva, sans-serif;">Gestão<a>
                </div>
            </div>
        </div>';
?>